@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

.s1 .wrap{
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    
}

.wrap .title p{
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.wrap .title h1{
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap .number{
    display: flex;
    align-items: center;
}
.wrap .number::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color:blue;
    margin-right: 20px;
    margin-bottom: 60px;
}

.wrap .number h3{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Noto Sans KR', sans-serif;
}

.s2 .row{
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    
}

.row{
    display: flex;
    justify-content: space-between;
}

.row .item p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.row .item1 p{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.s3{
    background-color:#E4F1FF;
}

.s3 .row1{
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
}

.row1{
    display: flex;
    
}

.row1 .left .title h1{
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.row1 .left .Profile h3{
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.left .Profile li{
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}



.right .edu h3{
    display: flex;
    margin-left: 100px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.right .edu li{
    font-size: 16px;
    margin-left: 100px;
    margin-bottom: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.right .edu li span{
    margin-left: 20px;
}

.right .edu{
    margin-bottom: 40px;
}

.right .lic h3{
    display: flex;
    margin-left: 100px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;

}

.right .lic .content li{
    font-size: 16px;
    margin-left: 100px;
    margin-bottom: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.content{
    display: flex;
    
}

.right .lic .content li span{
    margin-left: 20px;
}

.right .lic{
    margin-bottom: 40px;
}

.skill h3{
    margin-left: 100px;
    margin-bottom: 20px;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;

}

.skill .images img{
    width: 50px;
    height: 50px;
    margin-left: 100px;
}

.skill .images li{
    margin-bottom: 10px;
}

section > div{
    padding: 50px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E4F1FF;
}

section .left .item{
    width: 642px
}

section .left .item img{
    width: 100%;
}
section .right{
    width: 537px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section .right .write{
    margin-bottom: 20px;
}

section .right div h3{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 12px;
    display: inline-block;
    padding: 8px 12px;
    font-family: 'Nanum Gothic', sans-serif;
}

section .right div h1{
    margin-bottom: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
section .right div p{
    margin-bottom: 12px;
    font-family: 'Nanum Gothic', sans-serif;
}

section.s5 > div{
    flex-direction: row-reverse;
}

section .right .write img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

section .right .write ul{
    display: flex;
    
}

.btn-more{
    display: inline-block;
    border: 1px solid black;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn-more:hover{
    background-color: black;
    color: #fff;
}
.btn-more a{
    padding: 10px 20px;
    display: block;
    width: 100%;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;

}

.s7 .footer{
    width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
    
}

.footer .up h1{
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer .down::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: blue;
    margin-right: 20px;
    margin-top: 20px;
}

.footer .down p{
   display:flex;
   justify-content: right;
   margin-top: 7px;
   font-family: 'Nanum Gothic', sans-serif;
} 